body {
    margin: 40px auto 40px 11em;
    width: 70%;
}
nav {
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
}
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 5.5em; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 55px;
  padding-left: 20px;
  border-right: 2px solid #a17345;
  font-size: 1.5em;
  line-height: 3em;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

.noitem {
	list-style-type: none;
}

a {color: #0066CC; text-decoration: none;}
a.side { color: #004080 }
a.grey {color: #93806c;}
a:hover { text-decoration: underline;}


h1 {
    font-size: 2.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h1.name {
    color: #004080;
    border-bottom: 2px solid #a17345;
	margin-block-end: 0;
}
h2 {
    font-size: 1.7em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
.title1 {
    text-align: center;
    color: #004080;
}
.title2 {
    color: #004080;
}
h3 {
    font-size: 1.3em;
    line-height: 1.4em;
    color: #333;
}
h3.subname {
    margin-block-start: 0;
}

img {
  border-radius: 55%;
}

p {
    line-height: 1.4em;
    color: #333;
}
.nomargin {
	  margin-block-start: 0;
    margin-block-end: 0;
}

table {
  width: 100%;
}

td.top{
	vertical-align: top;
}
td.right{
	text-align: right;
}
footer {
    border-top: 2px solid #a17345;
    font-size: 1em;
}

.normalsize { font-size: 1.3em;}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
