body {
    margin: 40px auto 40px 11em;
    width: 70%;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}
nav {
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
}
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 5.5em; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 55px;
  padding-left: 20px;
  border-right: 2px solid #a17345;
  font-size: 1.5em;
  line-height: 3em;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding-top: 10px;
    padding-left: 0px;
    list-style: none;
    font-weight: bold;
    margin: 0px;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

.noitem {
	list-style-type: none;
}

a {color: #0066CC; text-decoration: none;}
a.side { color: #004080 }
a:hover { text-decoration: underline;}


.grey {color: #93806c;}

.icon {
    color: #004080;
    font-size : 1.3em;
}


h1 {
    font-size: 2.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h1.name {
    color: #004080;
    border-bottom: 2px solid #a17345;
	  margin-block-end: 0;
}
h2 {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
	margin-block-end: 0.2em;
    scroll-margin-top: 4.5em; /* Adjust based on the height of .pagenav */
}
.title1 {
    text-align: center;
    color: #004080;
}
.title2 {
    color: #004080;
}
h3 {
    font-size: 1.3em;
    margin-top: 0.2em;
    margin-block-end: 0em;
}

img {
  border-radius: 55%;
}
img.noradius {
  border-radius: 0%;
}

.figure {
  position: relative;
  width: 250px;
  height: 250px;
  max-width: 100%;
}

.figure img.Sirv.image-hover,
.figure img.Sirv.image-main {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: opacity .2s;
}

/* Start with the hover image hidden */
.figure img.Sirv.image-hover {
  opacity: 0;
}

/* On hover: show hover image, hide main image */
.figure:hover img.Sirv.image-hover {
  opacity: 1;
}
.figure:hover img.Sirv.image-main {
  opacity: 0;
}

p {
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    line-height: 1.4em;
    color: #333;
    text-align: justify;
}

P.center {
    margin-left: 4vw;
    margin-right: 4vw;
}

.nobottommargin {
    margin-block-end: 0;
}
.nomargin {
	  margin-block-start: 0;
    margin-block-end: 0;
}

table {
  width: 100%;
}

td{
    padding-bottom: 1.2em;
}
td.top{
	vertical-align: top;
}
td.right{
	text-align: right;
}
td.nopadding{
    padding-bottom : 0em;
}

footer {
    border-top: 2px solid #a17345;
    font-size: 1em;
}

.normalsize { font-size: 1em;}

ul {
    margin-block-start : 0;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}



p.abstracttext {
  margin-top: 0;
  margin-left: 0.8em;
  border-left: 1px solid #0066CC;
  padding-left: 1em;
  font-style: italic;
}
button.showhide {
  border-style : hidden;
  padding : 0px 0px;
  color : #0066CC;
  background-color: white;
  vertical-align: middle;
  font: inherit;
}
.showhide span.dots {
  font: inherit;
  opacity: 0;
  transition: 0.5s;
}
.showhide:hover span.dots{
  opacity: 1;
}
div.arrow-right {
  width: 0;
  height: 0;
  border-top: .4em solid transparent;
  border-bottom: .4em solid transparent;
  border-left:.5em solid #0066CC;
  display: inline-block;
  margin-right: .2em;
}
div.arrow-top {
  width: 0;
  height: 0;
  border-left: .4em solid transparent;
  border-right: .4em solid transparent;
  border-bottom: .5em solid #0066CC;
  display: inline-block;
  margin-right: .2em;
}

div.container{
    overflow: visible;
}

div.pagenav{
  position: sticky;
  top: 0;
  background-color: white;
  padding-top: 1.5em;
  padding-bottom: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1000; /* Ensures it stays above other content */
}

.button {
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  margin: 6px 8px;
  border-radius: 12px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button_pagenav {
  color: #004080;
  background-color: white;
  border: 2px solid #a17345;
}

.button_pagenav:hover {
  color: white;
  text-decoration: none;
  background-color: #bd9d7c;
}
