<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<header>
		        <h1 class="name">Etienne Lasalle</h1>
		  </header>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/research">Research</a></li>
				<li><a href="/teaching">Teaching</a></li>
	        		<li><a href="/cv">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li> email : <a class="grey" href="mailto:etienne.lasalle@inria.fr">etienne.lasalle@inria.fr</a></li>
	        		<li> github : <a class="grey" href="https://github.com/elasalle">github.com/elasalle</a></li>
				</ul>
			</footer>
		</body>
	</html>
