<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<!-- link to fontawesome for icons -->
			<link rel="stylesheet" href="/fontawesome/css/all.css">
			<link rel="stylesheet" href="/academicons/css/academicons.min.css">
			<script src="/js/scripts.js"></script>
			<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		</head>
		<body>
			<header>
		        <h1 class="name">Etienne Lasalle</h1>
		  </header>
			<nav class="sidenav">
	    		<ul>
	        		<li><a class="side" href="/"> Home</a></li>
		        	<li><a class="side" href="/research">Research</a></li>
							<li><a class="side" href="/teaching">Teaching</a></li>
	        		<li><a class="side" href="/cv"> C.V.</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li> <i class="icon fas fa-at"></i>  <div class="grey" style="display: inline;">etienne.lasalle"at"universite-paris-saclay.fr</div></li>
					</ul>
					<ul>
							<li>  <a href="https://arxiv.org/search/?searchtype=author&query=Lasalle%2C+E"><i class="icon ai ai-arxiv" title="Arxiv"></i></a></li>
							<li>  <a href="https://scholar.google.fr/citations?user=yY_HdMQAAAAJ&hl=fr"><i class="icon ai ai-google-scholar-square" title="Google Scholar"></i></a></li>
	        		<li>  <a href="https://github.com/elasalle"><i class="icon fab fa-github" title="Github"></i> </a></li>
							<li>  <a href="https://sites.google.com/view/placroix"><i class="icon fas fa-heart" title="Perrine Lacroix"></i></a></li>
				</ul>
			</footer>
		</body>
	</html>
