<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<!-- link to fontawesome for icons -->
			<link rel="stylesheet" href="/fontawesome/css/all.css">
		</head>
		<body>
			<header>
		        <h1 class="name">Etienne Lasalle</h1>
		  </header>
			<nav class="sidenav">
	    		<ul>
	        		<li><a href="/"><i class="fas fa-home"></i> Home</a></li>
		        	<li><a href="/research">Research</a></li>
				<li><a href="/teaching">Teaching</a></li>
	        		<li><a href="/cv"><i class="fas fa-graduation-cap"></i> CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><nobr> <i class="fas fa-at"></i>  <a class="grey" href="mailto:etienne.lasalle@inria.fr">etienne.lasalle@inria.fr</a></nobr></li>
	        		<li><nobr> <i class="fab fa-github"></i>  <a class="grey" href="https://github.com/elasalle">github.com/elasalle</a></nobr></li>
				</ul>
			</footer>
		</body>
	</html>
